
 <section class="callout">
    <div class="video-bg">
      <video loop autoplay muted poster="<%=image_path("poster.png")%>">
        <source src= "<%=image_path("promo.webm")%>" type="video/webm">
      </video>
    </div>
    <div class="video-overlay"></div>
    <div class="callout-inner">
      <div class = "callout-content">
      <img id = "logo" src="<%=image_path("logo.png")%>"alt="logo">
      </div>
    </div>
</section>