<h1 class="header"> <%= @player.first_name %>'s Profile </h1>
<h3> Alumni High School: <%= @player.school.name %></h3>
<h3> Current Team: <%= @current_team.name %> - <%= @current_team.division %></h3>
