// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Home Page Video*/
.callout {
    position: relative;
    overflow: hidden;
}
.video-bg,
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}
.video-overlay {
    background: rgba(0,0,0,0.5);
    pointer-events: none; /* Allows right clicking on the video to pause etc */
}
.video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.callout-content {
    position: relative;
    text-align: center;
    margin: 50px 0;  This adds some space around the video 
    color: #FFF;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#logo {
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 550px;
    width: 500px;
    opacity: 0.3;
}

button {
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    background: #587D85;
    border: solid 2px black;
    font-weight: bold;
}
/*Nav Bar*/

.nav-link-container {
    display: flex;
    padding-top: 15px;
}

.nav-link {
    display: inline-flex;
    margin: auto;
}

.nav-link a {
  text-decoration: none;
  padding: 20px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-shadow:
   -2px -2px 0 #587D85,  
    2px -2px 0 #587D85,
    -2px 2px 0 #587D85,
     2px 2px 0 #587D85;
}

.nav-link a:hover{
  padding: 20px;
  color: #C3C4C6;
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
   -2px -2px 0 #587D85,  
    2px -2px 0 #587D85,
    -2px 2px 0 #587D85,
     2px 2px 0 #587D85;
}





